<section>
  <header>
    <form id="login_form" class="clear" method="Get" action="/logout">
      <input id="sweet_button" value="logout" type="submit" action="submit"> 
      <img id="gravatar" src="<%= gravatar_url(current_user.email) %>"></img>
    </form>
  </header>
</section>


<div id="profile" class="container">
  <h1>Welcome, <%=current_user.name%></h1>
  <div id="topics">
    <h3>Select Your Deck</h3>
    <ul>
      <%Deck.all.each do |deck|%>
      <li><a href="/game/<%=deck.id%>"><%=deck.topic%></a></li>
      <%end%>
    </ul>

    <h3>Your Game Stats!</h3>
    <% i = 1 %>
    <%@rounds.each do |round|%>
    
    Round <%= i %>:&nbsp;<%= Deck.find(round.deck_id).topic %> <%=round.correct%>/<%=round.incorrect + round.correct%><br>
    <% i+=1 %>
    <%end%>

  </div>
  <div class="footer"></div> 
</div>


